
.App {
  text-align: center;
}

li:hover, .i-spy:hover {
  color:green;
  font-weight: bold;
  cursor: pointer;
}

.navbar-brand:hover {
  color: green !important;
  font-weight: bold;
}

button:hover {
  background: green !important;
}

.navbar-brand {
  margin-left: 15px;
  text-align: center;
}

.register-login {
  float: right;
  padding: 20px;
}