
.App {
  text-align: center;
}

li:hover, .i-spy:hover, #register-color:hover {
  color:green;
  font-weight: bold;
  cursor: pointer;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 117, 21, 0.25)!important;
} 

body {
  background-color: rgba(4,7,14,0.9) !important;
}

.login-button, .logout-button {
  margin-right: 60px;
  width: 72px;
}

.navbar-brand:hover {
  color: green !important;
  font-weight: bold;
}

button:hover {
  background: green !important;
}

.navbar-brand {
  margin-left: 30px;
  text-align: center;
}

.register-login {
  float: right;
  padding: 25px;
}

